<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="row border-0">
          <div class="col-12 content-header">
            <div class="text-center pt-3">
                <h2 class="mb-0">Salones del Edificio {{ building_name }}</h2>
            </div>
          </div>
          <div class="col-12 text-center">
            <div class="col-xs-3 btn btn-info" (click)="addClassroom();">
              crear
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Card stats -->
          <div class="row" *ngIf="classroomsList">
              <div *ngFor="let classroom of classroomsList" class="col-xl-3 col-lg-6n p-3 m-0">
                  <div class="card card-stats mb-4 mb-xl-0" >
                    <div class="card-body">
                      <div class="row" (click)="editClassroom(classroom.salon_id);">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">{{ classroom.tipo }}</h5>
                          <span class="h2 font-weight-bold mb-0">{{ classroom.salon_id }}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape text-white rounded-circle shadow">
                            <!-- <i class="fas fa-chalkboard"></i> -->
                            <img [src]="url + classroom.qr"  width="80">
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-success mr-2"><i class="far fa-building"></i>{{ classroom.edificio_id }}</span>
                        <span class="text-nowrap">{{ classroom.capacidad }}</span>
                        <span class="text-danger ml-5" (click)="deleteClassroom(classroom.edificio_id);"><i class="far fa-trash-alt"></i></span>
                        <span class="text-info ml-5" (click)="downloadQr(classroom.qr);"><i class="fas fa-file-export"></i></span>

                      </p>
                    </div>
                  </div>
              </div>
              <!-- <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                        <span class="h2 font-weight-bold mb-0">2,356</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-chart-pie"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                      <span class="text-nowrap">Since last week</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                        <span class="h2 font-weight-bold mb-0">924</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                          <i class="fas fa-users"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                      <span class="text-nowrap">Since yesterday</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                        <span class="h2 font-weight-bold mb-0">49,65%</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                          <i class="fas fa-percent"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div> -->
          </div>
          <div *ngIf="!classroomsList" class="row text-center">
              <div class="col d-flex justify-content-center mt-md-5">
                  <h2>Sin Datos</h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 