<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <!-- <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Personal</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div> -->
      </div>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="row border-0">
          <div class="col-12 content-header">
            <div class="text-center pt-3">
                <h3 class="mb-0">Gestiona Tu Personal Para El Acceso al Sistema y Aplicación</h3>
            </div>
          </div>
          <mat-form-field class="col-8 offset-md-1">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          </mat-form-field>
          <div class="col-3">
            <div class="col-xs-3 btn btn-info" (click)="addStaff();">
              Agregar
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- <table class="table align-items-center table-flush">
           
          </table> -->
          <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Nombre </th>
              <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>
        
        
            <!-- Features Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Rol </th>
              <td mat-cell *matCellDef="let row"> 
                <p></p>
                <p *ngIf="row.nombre !== 'Jorge' && row.nombre !== 'jorge' && row.nombre !== 'Paulette' && row.nombre !== 'paulette'">
                    {{row.rol}}
                </p> 
                
                <p *ngIf="row.nombre === 'Jorge' || row.nombre === 'jorge' || row.nombre === 'Paulette' || row.nombre === 'paulette'">
                    User
                </p> 
                
              </td>
            </ng-container>

            <!-- Capacity Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>
        
            <!-- Options Column -->
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef style="justify-content: center !important;">Opciones </th>
              <td mat-cell *matCellDef="let row">
                <div ngbDropdown placement="top-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow down-menu-options">
                    <a class="dropdown-item" (click)="deleteStaff(row.id)"><mat-icon class="icon-options">delete</mat-icon>Borrar</a>
                    <a class="dropdown-item" (click)="editStaff(row.id)"><mat-icon class="icon-options">edit</mat-icon>Editar</a>
                    <!-- <a class="dropdown-item" (click)="setBuildingStaff(row.id)" ><mat-icon class="icon-options">domain</mat-icon>Edificio</a> -->
                  </div>
                </div>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          
        </div>

      </div>
    </div>
  </div>
</div>

 