.content-header {
    justify-content: center;
    align-self: center;
    position: relative;
    width: 100%
}

.btn-table-build{
    position: absolute;
    margin-left: 70%;
}

.icon-options {
    font-size: 1rem !important;
}

.down-menu-options {
    top: 0 !important;
}

table td {
    height: 4rem !important;
    text-align: center !important;
}

table th {
    font-size: 0.8rem !important;
    text-align: center !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}
