<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12"> 
        <h1 class="display-2 text-white">Horario</h1>
        <p class="text-white mt-0 mb-5">Asigna los maestros respectivamene con sus salones y materias.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8 d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <!-- <div class="col-xl-2 order-xl-2 mb-5 mb-xl-0">
    </div> -->
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Registro</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="angForm"  novalidate>
            <h6 class="heading-small text-muted mb-4">Datos de la Clase y Materia </h6>
            <div class="pl-lg-4 justify-content-center">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Semestre</mat-label>
                      <mat-select formControlName="semester">
                        <mat-option *ngFor="let semester of  semestersList" [value]="semester.id">
                          {{semester.nombre}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Edificio</mat-label>
                      <mat-select required>
                        <mat-option *ngFor="let building of buildingsList | keyvalue" [value]="building.key" (click)="getClassroomByBuilding(building.key);">
                          {{building.key}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Salon</mat-label>
                      <mat-select formControlName="classroom" required>
                        <mat-option *ngFor="let classroom of classroomList" [value]="classroom.salon_id">
                          {{classroom.salon_id}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <label class="form-control-label" for="input-email">Apellido</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Apellido" formControlName="lastname"> -->
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Profesor</mat-label>
                      <mat-select formControlName="teacher" (change)="getInfoTeacher();" required>
                        <mat-option *ngFor="let teacher of teacherList" [value]="teacher.id" (click)="getInfoTeacher();">
                          {{teacher.nombre + ' ' + teacher.apellido}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Materia</mat-label>
                      <mat-select formControlName="subject" required>
                        <mat-option *ngFor="let subject of subjectsList | keyvalue" [value]="subject.key">
                          {{subject.value}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row d-flex justify-content-center">
                  <a href="javascript:void(0)" class="btn btn-info" (click)="searchSubjects();">Buscar Materias</a>
                </div> -->
              </div>
            </div>
            <hr class="my-4" />
            <!-- Cuestionario -->
            <h6 class="heading-small text-muted mb-4">Asignación de Questionario</h6>
            <div class="pl-lg-4">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Cuestionario</mat-label>
                      <mat-select formControlName="questionnarie">
                        <mat-option *ngFor="let questionnarie of questionnarieList" [value]="questionnarie.id">
                          {{questionnarie.nombre}} 
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- Horario -->
            <h6 class="heading-small text-muted mb-4">Asignación de Días y Hora</h6>
            <div class="pl-lg-4">
              <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Días</mat-label>
                      <mat-select formControlName="days" multiple>
                        <mat-option *ngFor="let day of daysList" [value]="day.value">{{day.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Inicio</mat-label>
                      <mat-select formControlName="start">
                        <mat-option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.time}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-label>Fin</mat-label>
                      <mat-select formControlName="end">
                        <mat-option *ngFor="let hour of hoursList" [value]="hour.value">{{hour.time}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div> 
            <!-- <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
          <div class="row d-flex justify-content-center">
              <a href="javascript:void(0)" class="btn btn-success" *ngIf="type === 'add'" (click)="addSchedule()">Crear Horario</a>
              <a href="javascript:void(0)" class="btn btn-info" *ngIf="type === 'edit'" (click)="editSchedule()">Editar Horario</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>