<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjpmcOymfrlAhXQpJ4KHf70C6sQjRx6BAgBEAQ&url=https%3A%2F%2Fcharlesdickensenglishschool.com%2Fportfolio%2Fexamenes%2F&psig=AOvVaw1yz9-FuebdAQagn5WAt00k&ust=1574387692708839); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10"> 
        <h1 class="display-2 text-white">Cuestionario {{ questionnarie_name }}</h1>
        <!-- <a href="javascript:void(0)" class="btn btn-info" *ngIf="type === 'add'" (click)="addTeacher()">Crear Profesor</a>
        <a href="javascript:void(0)" class="btn btn-info" *ngIf="type === 'edit'" (click)="editTeacher()">Editar Profesor</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <!-- <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div> -->
        <div class="card-header text-center border-0 pt-2 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <span class="heading">Agregar Pregunta</span>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <form [formGroup]="angForm"  novalidate>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Pregunta: </label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" formControlName="name" placeholder="Pregunta">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <mat-label>Tipo: </mat-label>
                        <mat-select formControlName="type">
                          <mat-option *ngFor="let type of typeList" [value]="type.value">
                            {{ type.name }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="angForm.value.type === 'checkbox' || angForm.value.type === 'radio'">
                    <div class="col">
                      <h2>Opciones de Respuestas: </h2>
                
                      <div formArrayName="options" *ngIf="angForm.value.type === 'checkbox' || angForm.value.type === 'radio'">
                        <div *ngFor="let itemrow of angForm['controls'].options['controls']; let i=index" [formGroupName]="i">
                
                          <div class="form-group">
                
                            <mat-form-field>
                              <input matInput name="name" class="form-control" formControlName="nombre" type="text"
                                required>
                            </mat-form-field>
                
                            <button mat-mini-fab *ngIf="angForm.controls.options.controls.length > 1" (click)="deleteRow(i)"
                              class="btn btn-danger">
                              <i class="material-icons">
                                delete
                              </i>
                            </button>
                
                          </div>
                          
                        </div>
                        <button mat-mini-fab matTooltip="Añadir una fila" class="btn btn-info" (click)="addNewRow()">
                          <i class="material-icons md-40">
                            add_circle_outline
                          </i>
                        </button>
                      </div>
                      
                    </div>
                  </div>
                  </form>
                </div>
                <a href="javascript:void(0)" class="btn btn-success" *ngIf="type === 'edit'"  (click)="saveQuestions()">Guardar Pregunta</a>
                <a href="javascript:void(0)" class="btn btn-info" *ngIf="type === 'edit'"  (click)="changeToSave()">Crear una Pregunta</a>
                <a href="javascript:void(0)" class="btn btn-success" *ngIf="type === 'add'"  (click)="saveQuestions()">Crear </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Preguntas</h3>
            </div>
          </div>
        </div>
        <div class="card-body">

<mat-accordion>
  <mat-expansion-panel *ngFor="let question of questionsList">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Pegunta {{question.id}}
      </mat-panel-title>
      <mat-panel-description>
      {{question.pregunta}} 
      </mat-panel-description>
    </mat-expansion-panel-header>

    <textarea *ngIf="question.tipo == 'libre'" style="width: 100% !important;"  matInput placeholder="Respuesta"></textarea>

    <mat-radio-group *ngIf="question.tipo == 'radio'" aria-label="Select an option" class="ml-4">
      <mat-radio-button *ngFor="let option of question.opciones" class="ml-4" value="{{option.nombre}}">{{option.nombre}}</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="question.tipo == 'checkbox'">
        <mat-checkbox *ngFor="let option of question.opciones" class="ml-4" value="{{option.nombre}}">{{option.nombre}}</mat-checkbox>
    </div>
    <div class="row justify-content-center">
      <button mat-mini-fab matTooltip="Editar Pregunta" class="btn btn-info" (click)="getInfoQuestion(question.id, question.nombre, question.tipo, question.opciones)">
        <i class="material-icons md-40">
          edit
        </i>
      </button>
    </div>
    
  </mat-expansion-panel>
</mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
