<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="row border-0">
        <div class="col-12 content-header">
          <div class="text-center pt-3">
              <h3 class="mb-0">Respuestas de Cuestionarios</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
         <div class="row col-12 offset-8">
            <div class="col-lg-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Edificio</mat-label>
                    <mat-select required>
                      <mat-option *ngFor="let building of buildingsList | keyvalue" [value]="building.key" (click)="getClassroomByBuilding(building.key);">
                        {{building.key}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Salon</mat-label>
                    <mat-select required>
                      <mat-option *ngFor="let classroom of classroomList" [value]="classroom.salon_id" (click)="getScheduleByClassroom(classroom.salon_id);">
                        {{classroom.salon_id}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Horario</mat-label>
                    <mat-select required>
                      <mat-option *ngFor="let schedule of schedulesList" [value]="schedule.id" (click)="getAnswares(schedule.id)">
                        {{schedule.hora_inicio + ' - ' + schedule.hora_fin}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
         </div>
          
        </div>
        <mat-form-field class="col-8 offset-md-1">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <div class="col-3">
          <!-- <div class="col-xs-3 btn btn-info" (click)="addSubjects();">
            Agregar
          </div> -->
        </div>
      </div>
      <div class="table-responsive">
        <!-- <table class="table align-items-center table-flush">

        </table> -->
        <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource" matSort>

          <!-- Questionnarie Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>


          <!-- Teacher Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.created_at}} </td>
          </ng-container>


          <!-- Options Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef style="justify-content: center !important;">Opciones </th>
            <td mat-cell *matCellDef="let row">
              <div placement="top-right">
                  <a class="dropdown-item" [routerLink]="['/answers/show/' + row.id]" routerLinkActive="router-link-active" ><mat-icon class="icon-options">visibility</mat-icon></a>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

      </div>

    </div>
  </div>
</div>
</div>