<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        
      </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="row border-0">
          <div class="col-12 content-header">
            <div class="text-center pt-3">
                <h2 class="mb-0">Cuestionarios</h2>
            </div>
          </div>
          <div class="col-12 text-center">
            <div class="col-xs-3 btn btn-info" (click)="addQuestionnarie();">
              <!-- <mat-icon>add</mat-icon> -->
              Crear
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Card stats -->
          <div class="row" *ngIf="questionnariesList">
              <div *ngFor="let questionnarie of questionnariesList" class="col-xl-3 col-lg-6n p-3 m-0">
                  <div class="card card-stats mb-4 mb-xl-0" >
                    <div class="card-body">
                      <div class="row" (click)="editQuestionnarie(questionnarie.id);">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">{{ questionnarie.id }}</h5>
                          <span class="h2 font-weight-bold mb-0">{{ questionnarie.nombre }}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fas fa-graduation-cap"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <!-- <span class="text-success mr-2"><i class="far fa-building"></i>{{ semester.edificio_id }}</span>
                        <span class="text-nowrap">{{ semester.capacidad }}</span> -->
                        <span class="text-info ml-5" (click)="editQuestionnarie(questionnarie.id);"><i class="far fa-edit"></i></span>
                        <span class="text-danger ml-5" (click)="deleteQuestionnarie(questionnarie.id);"><i class="far fa-trash-alt"></i></span>
                        <span class="text-success ml-5" [routerLink]="['/questionnaries/questions/' + questionnarie.id]"><i class="fas fa-sign-in-alt"></i></span>
                      </p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row text-center" *ngIf="!questionnariesList">
            <div class="col d-flex justify-content-center mt-md-5">
                <h3>Sin Datos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>