<h1 mat-dialog-title *ngIf="type == 'add'">Agregar Edificios</h1>
<h1 mat-dialog-title *ngIf="type == 'edit'">Editar Edificios</h1>

<div class="card">
  <div class="card-body card-dialog-form">
    <form [formGroup]="angForm"  novalidate>

      <div class="form-group">
        <label class="col-md-4">Nombre del Edificio</label>
        <input type="text" class="form-control" formControlName="name" #id />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Nombre del Edificio Requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Capacidad de Salones</label>
        <input type="text" class="form-control" formControlName="capacity" #capacity />
      </div>
      <div *ngIf="angForm.controls['capacity'].invalid && (angForm.controls['capacity'].dirty || angForm.controls['capacity'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['capacity'].errors.required">
          La capacidad el edificio es requerido.
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4">Características</label>
        <input type="text" class="form-control" formControlName="features" #features />
      </div>
      <div *ngIf="angForm.controls['features'].invalid && (angForm.controls['features'].dirty || angForm.controls['features'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['features'].errors.required">
          Las características son requeridas.
        </div>
      </div>

      <div class="form-group">
        <button *ngIf="type == 'add'" (click)="addBuilding()" color="primary" 
        class="btn btn-primary">Agregar</button>

        <button *ngIf="type == 'edit'" (click)="editBuilding();" color="primary" 
        class="btn btn-primary">Editar</button>
      </div>

    </form>
  </div>
</div>
