<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        
      </div>

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="row border-0">
        <div class="col-12 content-header">
          <div class="text-center pt-3">
              <h3 class="mb-0">Asignación de Horarios</h3>
          </div>
        </div>
        <mat-form-field class="col-8 offset-md-1">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <div class="col-3">
          <div class="col-xs-3 btn btn-info" [routerLink]="['/schedule/add']">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- <table class="table align-items-center table-flush">
          
        </table> -->
        <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource" matSort>

          <!-- Semester Column-->
          <ng-container matColumnDef="semester">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Semestre </th>
            <td mat-cell *matCellDef="let row"> {{row.semestre}} </td>
          </ng-container>
      
      
          <!-- Subject Column -->
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Materia </th>
            <td mat-cell *matCellDef="let row"> {{row.materia}} </td>
          </ng-container>

          <!-- Teacher Column -->
          <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Maestro </th>
            <td mat-cell *matCellDef="let row"> {{row.profesor}} </td>
          </ng-container>

          <!-- Classroom Column -->
          <ng-container matColumnDef="classroom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Salón </th>
            <td mat-cell *matCellDef="let row"> {{row.salon.salon_id}} </td>
          </ng-container>

          <!-- Days Column -->
          <ng-container matColumnDef="days">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Días </th>
            <td mat-cell *matCellDef="let row"> {{row.horario.dias}} </td>
          </ng-container>

           <!-- Times Column -->
           <ng-container matColumnDef="times">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Horario </th>
            <td mat-cell *matCellDef="let row"> {{ row.horario.hora_inicio }} - {{ row.horario.hora_fin}}</td>
          </ng-container>

      
          <!-- Options Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef style="justify-content: center !important;">Opciones </th>
            <td mat-cell *matCellDef="let row">
              <div ngbDropdown placement="top-right">
                <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow down-menu-options">
                  <a class="dropdown-item" (click)="deleteSchedule(row.id)"><mat-icon class="icon-options">delete</mat-icon>Borrar</a>
                  <a class="dropdown-item" [routerLink]="['/schedule/edit/' + row.id]"><mat-icon class="icon-options">edit</mat-icon>Editar</a>
                  <!-- <a class="dropdown-item" (click)="setBuildingSubjects(row.id)" ><mat-icon class="icon-options">domain</mat-icon>Edificio</a> -->
                </div>
              </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        
      </div>

    </div>
  </div>
</div>
</div>