<h1 mat-dialog-title>Eliminar</h1>
<div mat-dialog-content>
  <h5>Seguro de eliminar el registro {{ nameDelete }} ?</h5>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="flagClose" cdkFocusInitial>Ok</button>
</div>