<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjpmcOymfrlAhXQpJ4KHf70C6sQjRx6BAgBEAQ&url=https%3A%2F%2Fcharlesdickensenglishschool.com%2Fportfolio%2Fexamenes%2F&psig=AOvVaw1yz9-FuebdAQagn5WAt00k&ust=1574387692708839); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10"> 
        <h1 class="display-2 text-white">Maestros</h1>
        <p class="text-white mt-0 mb-5">Gestiona los datos así como las materias que impartirá.</p>
        <a href="javascript:void(0)" class="btn btn-success" *ngIf="type === 'add'" (click)="addTeacher()">Guardar Datos Del Profesor</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <!-- <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">               -->
                <img *ngIf="image" [src]="url + image" class="rounded-circle">              
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <input style="display: none" type="file" (change)="onFileChangedImport($event.target.files)" #fileInput style="display: none;">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="fileInput.click()"
              matBadge="!" matBadgePosition="before" [matBadgeHidden]="fileToUpload" matBadgeColor="warn" >
              Imagen 
            </a>
            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Materias</a> -->
            
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{countSubjects}}</span>
                  <span class="description">Materias</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              <span class="font-weight-light">{{ name }}</span>
            </h3>
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <mat-chip-list *ngIf="subjectsTeacherShow">
                    <mat-chip class="chip-subject" *ngFor="let subject of subjectsTeacherShow" [selectable]="selectable" [removable]="removable"
                        (removed)="removeChip(subject);" color="accent">
                        <i class="material-icons" style="color: #FFFFFF;">
                            assignment
                        </i>
                        {{subject}}
                        <mat-icon matChipRemove class="router-has" style="color: #FFFFFF;">cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
            
            <h3 *ngIf="!subjectsTeacherShow">
                Sin Materias Asigandas
            </h3>
            <a href="javascript:void(0)" class="btn btn-info" (click)="changeSearch();">Filtrar Materias</a>
            <div *ngIf="search" class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <mat-form-field>
                      <mat-label>Carrera</mat-label>
                      <mat-select [(ngModel)]="career">
                        <mat-option *ngFor="let career of careerList" [value]="career.carrera_id">
                          {{career.carrera_id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <mat-form-field>
                      <mat-label>Semestre</mat-label>
                      <mat-select [(ngModel)]="semester">
                        <mat-option *ngFor="let semester of semesterList" [value]="semester.id">
                          {{semester.id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
            </div>
            <button mat-raised-button *ngIf="search" class="btn btn-default" [disabled]="!enabled_subjects" (click)="showSubjects()">Buscar</button>
            <a href="javascript:void(0)" class="btn btn-success" (click)="saveSubjects()">Guardar Materias</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Datos</h3>
            </div>
            <!-- <div class="col-4 text-right">
              <input style="display: none" type="file" (change)="onFileChangedImport($event.target.files)" #fileInput style="display: none;">
              <a class="btn btn-sm btn-primary" (click)="fileInput.click()" style="color: #ffffff;">
                Imagen
              </a>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="angForm"  novalidate>
            <h6 class="heading-small text-muted mb-4">Informacion del Profesor</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nombre</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" formControlName="name" placeholder="Nombre">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Apellido</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Apellido" formControlName="lastname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Fecha de nacimiento</label>
                    <input type="email" id="input-first-name" class="form-control form-control-alternative" placeholder="yyyy/mm/dd" formControlName="birth">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Fecha de ingreso</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="yyyy/mm/dd" formControlName="beginning">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Email</label>
                    <input type="email" id="input-first-name" class="form-control form-control-alternative" placeholder="example@email.com" formControlName="email">
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Address -->
            <!-- <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
          <a href="javascript:void(0)" class="btn btn-success" *ngIf="type === 'edit'" (click)="editTeacher()">Editar Datos Del Profesor</a>
        </div>
      </div>
    </div>
  </div>
</div>
