<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        
      </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="row border-0">
          <div class="col-12 content-header">
            <div class="text-center pt-3">
                <h2 class="mb-0">Gestión de Semestres</h2>
            </div>
          </div>
          <div class="col-12 text-center">
            <div class="col-xs-3 btn btn-info pb-2" (click)="addSemester();">
                Agregar
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Card stats -->
          <div class="row" *ngIf="semesterList" >
              <div *ngFor="let semester of semesterList" class="col-xl-3 col-lg-6n p-3 m-0">
                  <div class="card card-stats mb-4 mb-xl-0" >
                    <div class="card-body">
                      <div class="row" (click)="editSemester(semester.id);">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">{{ semester.id }}</h5>
                          <span class="h2 font-weight-bold mb-0">{{ semester.nombre }}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fas fa-graduation-cap"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <!-- <span class="text-success mr-2"><i class="far fa-building"></i>{{ semester.edificio_id }}</span>
                        <span class="text-nowrap">{{ semester.capacidad }}</span> -->
                        <span class="text-danger ml-5" (click)="editSemester(semester.id);"><i class="far fa-edit"></i></span>
                        <span class="text-danger ml-5" (click)="deleteSemester(semester.id);"><i class="far fa-trash-alt"></i></span>
                      </p>
                    </div>
                  </div>
              </div>
          </div>
          <div *ngIf="!semesterList" class="row text-center">
              <div class="col d-flex justify-content-center mt-md-5">
                  <h2>Sin Datos</h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   