<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjpmcOymfrlAhXQpJ4KHf70C6sQjRx6BAgBEAQ&url=https%3A%2F%2Fcharlesdickensenglishschool.com%2Fportfolio%2Fexamenes%2F&psig=AOvVaw1yz9-FuebdAQagn5WAt00k&ust=1574387692708839); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10"> 
        <h1 class="display-2 text-white">Respuestas</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row d-flex justify-content-center">
    <!-- DIV 4  -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Respuestas del Cuestionario </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let question of objectAnswers ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                Pegunta {{question.pregunta_id  }} 
                </mat-panel-title>
                <mat-panel-description>
                  {{question.pregunta}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!--   -->
              <textarea *ngIf="question.tipo === 'libre'" [(ngModel)]="question.respuesta"  matInput  disabled name="text" placeholder="Respuesta" style="width: 500px !important;"></textarea>

              <mat-radio-group  [(ngModel)]="question.respuesta" *ngIf="question.tipo === 'radio'" disabled aria-label="Select an option">
                <mat-radio-button *ngFor="let option of question.opciones" class="ml-4" 
                        value="{{option.nombre}}">{{option.nombre}}</mat-radio-button>
              </mat-radio-group>

              <!-- <div *ngIf="question.value.preguntas.tipo === 'checkbox'">
                  <mat-checkbox *ngFor="let option of question.value.preguntas.opciones; let i=index" [(ngModel)]="question.respuesta" value="{{option.nombre}}">{{option.nombre}}</mat-checkbox>
              </div> -->

              <div *ngIf="question.tipo === 'checkbox'">
                <mat-label>Opciones</mat-label>
                <mat-select [(ngModel)]="question.respuesta" name="operacion" disabled  multiple>
                  <mat-option *ngFor="let option of question.opciones" value="{{option.nombre}}">{{option.nombre}}</mat-option>
                </mat-select>
              </div>

              <!-- <div class="row">
                <button matTooltip="Añadir una fila" class="btn btn-default" >
                  <i class="material-icons md-40" >
                    edit
                  </i>
                </button>
              </div> -->
              
            </mat-expansion-panel>
          </mat-accordion>
          <div class="row justify-content-center pt-4">
            <!-- <button mat-raised-button class="btn btn-success" (click)="answersView();">
              Respuestas
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>