<h1 mat-dialog-title *ngIf="type == 'add'">Agregar Salón</h1>
<h1 mat-dialog-title *ngIf="type == 'edit'">Editar Salón</h1>

<div class="card form-classroom">
  <div class="card-body card-dialog-form">
    <form [formGroup]="angForm"  novalidate>

      <div class="form-group">
        <label class="col-md-8">Nombre del Salón</label>
        <input type="text" class="form-control" formControlName="name"/>
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Nombre del Salón requerido.
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Edificio</mat-label>
              <mat-select formControlName="building">
                <mat-option *ngFor="let build of buildingList | keyvalue" [value]="build.key">
                  {{ build.key }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="angForm.controls['building'].invalid && (angForm.controls['building'].dirty || angForm.controls['building'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['building'].errors.required">
          Tipo de salón requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-8">Capacidad del Salón</label>
        <input type="text" class="form-control" formControlName="capacity" #capacity />
      </div>
      <div *ngIf="angForm.controls['capacity'].invalid && (angForm.controls['capacity'].dirty || angForm.controls['capacity'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['capacity'].errors.required">
          La capacidad el edificio es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-8">Características</label>
        <input type="text" class="form-control" formControlName="features" #features />
      </div>
      <div *ngIf="angForm.controls['features'].invalid && (angForm.controls['features'].dirty || angForm.controls['features'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['features'].errors.required">
          Las características son requeridas.
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Tipo de Salón</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of typeList" [value]="type.value">
                  {{type.name}}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['type'].errors.required">
          Tipo de salón requerido.
        </div>
      </div>

      <div class="form-group">
        <button *ngIf="type == 'add'" (click)="addClassroom()" color="primary" 
        class="btn btn-primary">Agregar</button>

        <button *ngIf="type == 'edit'" (click)="editClassroom();" color="primary" 
        class="btn btn-primary">Editar</button>
      </div>

    </form>
  </div>
</div>
