<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Edificios Actuales</h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="row border-0">
          <div class="col-12 content-header">
            <div class="text-center pt-3">
                <h3 class="mb-0">Gestiona Los Edificios De Tu Institución</h3>
            </div>
          </div>
          <mat-form-field class="col-8 offset-md-1">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          </mat-form-field>
          <div class="col-3">
            <div class="col-xs-3 btn btn-info" (click)="addBuilding();">
              Agregar
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- <table class="table align-items-center table-flush">

          </table> -->
          <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Nombre </th>
              <td mat-cell *matCellDef="let row"> {{row.edificio_id}} </td>
            </ng-container>


            <!-- Features Column -->
            <ng-container matColumnDef="features">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Caracteristicas </th>
              <td mat-cell *matCellDef="let row"> {{row.caracteristica}} </td>
            </ng-container>

            <!-- Capacity Column -->
            <ng-container matColumnDef="capacity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center !important;"> Capacidad </th>
                <td mat-cell *matCellDef="let row"> {{row.capacidad}} </td>
              </ng-container>

            <!-- Options Column -->
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef style="justify-content: center !important;">Opciones </th>
              <td mat-cell *matCellDef="let row">
                <div ngbDropdown placement="top-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow down-menu-options">
                    <a class="dropdown-item" (click)="deleteBuilding(row.edificio_id)"><mat-icon class="icon-options">delete</mat-icon>Borrar</a>
                    <a class="dropdown-item" (click)="editBuilding(row.edificio_id)"><mat-icon class="icon-options">edit</mat-icon>Editar</a>
                    <a class="dropdown-item" [routerLink]="['/building/classsroom/' + row.edificio_id]"><mat-icon class="icon-options">input</mat-icon>Acceder</a>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>

      </div>
    </div>
  </div>
</div>
