<div class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row>
        <span class="title dialog-title">Materias Disponibles</span>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div mat-dialog-content class="p-24 m-0">
      <div class="p-24 m-0" fxLayout="row wrap" *ngIf="dataSearch" fxLayoutAlign="center center">

        <mat-form-field fxFlex="100">
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">search</mat-icon>
          <input matInput placeholder="MAC" [(ngModel)]="searchSubject" (keyup)="search();" required>
        </mat-form-field>
    
      </div>
    
      <div class="p-24 m-0">
        <mat-chip *ngFor="let subject of dataSelected | keyvalue" [selectable]="selectable" [removable]="removable"
          (removed)="removeChip(subject.key)">
          <span></span>{{subject.value.key}}-{{subject.value.value}}
          <mat-icon matChipRemove *ngIf="removable" (click)="removeChip(subject)">cancel</mat-icon>
        </mat-chip>
      </div>

      <mat-selection-list  #subjects [(ngModel)]="selectedSubject"
        (ngModelChange)="onNgModelChange($event)">
        <mat-list-option *ngFor="let subject of dataSearch | keyvalue" [value]="subject">
          {{subject.key}} - {{subject.value}}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div mat-dialog-actions class="m-0 p-16" >
        <button mat-raised-button color="primary"
          [mat-dialog-close]="selectedSubject" cdkFocusInitial>
          Save
        </button>
    </div>
</div>
