<h1 mat-dialog-title *ngIf="type == 'add'">Agregar Personal</h1>
<h1 mat-dialog-title *ngIf="type == 'edit'">Editar Personal</h1>

<div class="card form-classroom">
  <div class="card-body card-dialog-form">
    <form [formGroup]="angForm"  novalidate>

      <div class="form-group">
        <label class="col-md-4">Nombre del Personal</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Nombre del Personal requerido.
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Rol del Personal</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roleList" [value]="role.value">
                  {{ role.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="angForm.controls['role'].invalid && (angForm.controls['role'].dirty || angForm.controls['role'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['role'].errors.required">
          Rol requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          email es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Contraseña</label>
        <input type="password" class="form-control" formControlName="password"/>
      </div>
      <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['password'].errors.required">
          contraseña es requerido.
        </div>
      </div>


      <div class="form-group">
        <button *ngIf="type == 'add'" (click)="addStaff()" color="primary" 
        class="btn btn-primary">Agregar</button>

        <button *ngIf="type == 'edit'" (click)="editStaff();" color="primary" 
        class="btn btn-primary">Editar</button>
      </div>

    </form>
  </div>
</div>
