<h1 mat-dialog-title>Asiganar el Edicio al Personal</h1>

<div class="card form-classroom">
  <div class="card-body card-dialog-form">
    <form [formGroup]="angForm"  novalidate>

      <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Edificio </mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let build of buildingsList" [value]="build.value">
                  {{ build.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button  (click)="saveBuildingStaff();" color="primary" 
        class="btn btn-primary">Guardar</button>
      </div>

    </form>
  </div>
</div>
