<h1 mat-dialog-title>Asigna los Edificios a tu Personal</h1>


<div class="card form-classroom">
  <div class="card-body card-dialog-form">
    <!-- <mat-chip-list>
        <mat-chip *ngFor="let building of buildingsSelected" [selectable]="true" [removable]="true"
            (removed)="removeChip(building);setRouterPermisions(building.edificio_id);" class="router-has">
            <i class="material-icons" style="color: #FFFFFF;">
               person
            </i>
            {{building.edificio_id}}
            <mat-icon matChipRemove class="router-has" style="color: #FFFFFF;">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Edificios
            </mat-panel-title>
  
            <mat-panel-description>
                Edificios a los que se permite el acceso
                <mat-icon>router</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
  
        <mat-selection-list>
            <mat-list-option *ngFor="let building of buildingsList" [value]="building" 
              (click)="selectedBuilding(building);setBuildingPermisions(building.edificio_id);">
                {{building.edificio_id}}
            </mat-list-option>
        </mat-selection-list>

      </mat-expansion-panel>
    </mat-accordion> -->
  
  </div>
  <button color="primary" class="btn btn-primary">Guardar</button>
</div>
