<h1 mat-dialog-title>Notificación de Error</h1>

<div class="card">
  <div class="card-body card-dialog-form">
    {{ message | json }}
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="btn btn-danger" (click)="close();">Aceptar</button>
</div>
</div>
