<h1 mat-dialog-title *ngIf="type == 'add'">Agregar Materia</h1>
<h1 mat-dialog-title *ngIf="type == 'edit'">Editar Materia</h1>

<div class="card form-classroom">
  <div class="card-body card-dialog-form">
    <form [formGroup]="angForm"  novalidate>

      <div class="form-group">
        <label class="col-md-4">Nombre de la Materia</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Nombre del Personal requerido.
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Carrera de la Materia</mat-label>
              <mat-select formControlName="career">
                <mat-option *ngFor="let career of careerList" [value]="career.value">
                  {{ career.carrera_id }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="angForm.controls['career'].invalid && (angForm.controls['career'].dirty || angForm.controls['career'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['career'].errors.required">
          Carrera requerido.
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Semestre de la Materia</mat-label>
              <mat-select formControlName="semester">
                <mat-option *ngFor="let semester of semestersList" [value]="semester.id">
                  {{ semester.nombre }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="angForm.controls['semester'].invalid && (angForm.controls['semester'].dirty || angForm.controls['semester'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['semester'].errors.required">
          Semestre requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Creditos de la Materia</label>
        <input type="text" class="form-control" formControlName="credits" />
      </div>
      <div *ngIf="angForm.controls['credits'].invalid && (angForm.controls['credits'].dirty || angForm.controls['credits'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['credits'].errors.required">
          Creditos es requerido.
        </div>
      </div>

      <div class="form-group">
        <button *ngIf="type == 'add'" (click)="addSubjects()" color="primary" 
        class="btn btn-primary">Agregar</button>

        <button *ngIf="type == 'edit'" (click)="editSubjects();" color="primary" 
        class="btn btn-primary">Editar</button>
      </div>

    </form>
  </div>
</div>
