<h1 mat-dialog-title *ngIf="type == 'add'">Crear Cuestionario</h1>
<h1 mat-dialog-title *ngIf="type == 'edit'">Editar Cuestionario</h1>

<div class="card form-classroom">
  <div class="card-body card-dialog-form">
    <form [formGroup]="angForm"  novalidate>

      <div class="form-group">
        <label class="col-md-4">Cuestionario del Semestre</label>
        <input type="text" class="form-control" formControlName="name" #id />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Nombre del Cuestionario requerido.
        </div>
      </div>

      <div class="form-group">
        <button *ngIf="type == 'add'" (click)="addQuestionnarie()" color="primary" 
        class="btn btn-primary">Agregar</button>

        <button *ngIf="type == 'edit'" (click)="editQuestionnarie();" color="primary" 
        class="btn btn-primary">Editar</button>
      </div>

    </form>
  </div>
</div>